<launch>
    <node pkg="rpi_scanner_pkg" type="motornode.py" name="motor_node"  output="screen"/>
    <node pkg="rpi_scanner_pkg" type="rotaryencodernode.py" name="rotary_encoder_node"  output="screen"/>
    <node pkg="rpi_scanner_pkg" type="stitchingnode.py" name="stitching_node"  output="screen"/>
</launch>
